<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="PTIT Library" />
        <meta
            property="og:description"
            content="Ptiters are united by a share purpose"
        />
        <meta property="og:image" th:content="@{/images/icon.svg}" />
        <meta property="og:type" content="website" />
        <link rel="icon" th:href="@{/images/icon.svg}" />
        
        <title th:text="${majorName != null ? majorName + ' - PTIT Library' : 'Công Nghệ Thông Tin'}">Công Nghệ Thông Tin</title>

        <link rel="stylesheet" th:href="@{/css/reset.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{/css/table.css}" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        
        <div class="header">
            <div class="main-content">
                <div class="body">
                    <table>
                        <tr>
                            <td><span>Học kỳ 1</span><span>(11 TC)</span></td>
                            <td class="mandatory">
                                <span>Triết học Mác-Lênin</span
                                ><span>(3 TC)</span>
                            </td>
                            <td class="mandatory">
                                <span>Tin học cơ sở 1</span><span>(2 TC)</span>
                            </td>
                            <td class="compulsory">
                                <span>Giải tích 1</span><span>(3 TC)</span>
                            </td>
                            <td class="compulsory">
                                <span>Đại số</span><span>(3 TC)</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="view-doc">
            <div class="content">
                <button class="view-close-btn">
                    <span class="material-symbols-outlined"> close </span>
                </button>
                <div class="view-document">
                    <div class="view-imgbook">
                        <img th:src="@{/images/book.svg}" alt="" />
                    </div>
                    <div class="view-info">
                        <span class="view-title">Tư tưởng Hồ Chí Minh</span>
                        <div
                            style="
                                display: flex;
                                align-items: center;
                                margin-bottom: 32px;
                                gap: 8px;
                            "
                        >
                            <img th:src="@{/images/icon-tc.svg}" alt="" /><span
                                class="view-number"
                                >3 TC</span
                            >
                        </div>
                        <a href="#!"
                            ><span class="view-btn"
                                ><span class="material-symbols-outlined">
                                    plagiarism </span
                                ><span>View Document</span></span
                            ></a
                        >
                    </div>
                </div>
                <div class="view-available-document">
                    <span>Tài Liệu Tổng Hợp Được</span>
                    <ul class="list">
                        <li>
                            <div class="giao-trinh">
                                <img
                                    th:src="@{/images/available-icon1.svg}"
                                    alt=""
                                />
                                <span>Giáo Trình</span>
                            </div>
                        </li>
                        <li>
                            <div class="bai-giang">
                                <img
                                    th:src="@{/images/available-icon2.svg}"
                                    alt=""
                                />
                                <span>Bài Giảng</span>
                            </div>
                        </li>
                        <li>
                            <div class="ngan-hang">
                                <img
                                    th:src="@{/images/available-icon3.svg}"
                                    alt=""
                                />
                                <span>Ngân Hàng</span>
                            </div>
                        </li>
                        <li>
                            <div class="de-thi">
                                <img
                                    th:src="@{/images/available-icon4.svg}"
                                    alt=""
                                />
                                <span>Đề Thi</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>

        <script th:src="@{/js/jquery3.6.0.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var majorCode = /*[[${session.majorCode}]]*/ 'CNTT';
            
            $.ajax({
                url: "/data/major_road_map.json",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    console.log("Major Code = " + majorCode);
                    data.forEach((major) => {
                        console.log("Major ID = " + major.major_id);
                        if (major.major_id === majorCode) {
                            console.log("CREATE TABLE");
                            var table = document.querySelector("table");
                            table.innerHTML = "";

                            for (let semester in major) {
                                if (semester !== "major_id") {
                                    let totalCredits = major[semester].reduce(
                                        (sum, subject) => sum + subject.credits,
                                        0
                                    );

                                    var tr = document.createElement("tr");
                                    tr.insertAdjacentHTML(
                                        "beforeend",
                                        `
                                    <td>
                                <span
                                    >` +
                                            semester +
                                            `</span
                                ><span>(` +
                                            totalCredits +
                                            `TC)</span>
                            </td>
                                    
                                    `
                                    );

                                    major[semester].forEach((subject) => {
                                        tr.insertAdjacentHTML(
                                            "beforeend",
                                            `
                                    <td>
                                <span
                                    >` +
                                                subject.name +
                                                `</span
                                ><span>(` +
                                                subject.credits +
                                                `TC)</span>
                            </td>
                                    
                                    `
                                        );
                                    });

                                    console.log(tr);
                                    table.insertAdjacentElement(
                                        "beforeend",
                                        tr
                                    );
                                }
                            }
                        }
                    });

                    editTable();
                },
            });

            function editTable() {
                var listSubject = document.querySelectorAll("td");
                console.log("len" + listSubject.length);
                for (var i = 0; i < listSubject.length; i++) {
                    var tableData = listSubject[i];

                    var a = document.createElement("a");
                    var div = document.createElement("div");

                    a.href = "#!";
                    a.style.width = "100%";
                    a.style.height = "100%";
                    div.innerHTML = tableData.innerHTML;

                    tableData.innerHTML = "";
                    a.appendChild(div);
                    tableData.appendChild(a);

                    div.style.display = "flex";
                    div.style.flexDirection = "column";
                    div.style.alignItems = "center";
                    div.style.justifyContent = "center";
                    div.style.gap = "8px";

                    a.style.display = "flex";
                    a.style.alignItems = "center";
                    a.style.justifyContent = "center";
                }

                var viewDoc = document.querySelector(".view-doc");
                var viewDocLink = document.querySelector(".view-doc a");
                var aElements = document.querySelectorAll("td a");
                aElements.forEach((a) => {
                    a.addEventListener("click", function () {
                        viewDocLink.href = "#!";
                        viewDocLink.target = "";
                        viewDoc.setAttribute("class", "view-doc active");
                        var spanElement = a.querySelector("div > span");
                        var name = spanElement.innerHTML;

                        var spanElement2 = a.querySelector(
                            "div span:last-child"
                        );

                        var viewTitle = document.querySelector(".view-title");
                        viewTitle.innerHTML = name;
                        var viewNumber = document.querySelector(".view-number");
                        viewNumber.innerHTML = spanElement2.innerHTML;
                        console.log("name = " + name);
                        $.ajax({
                            url: "/data/data.json",
                            dataType: "json",
                            success: function (dataObject) {
                                console.log("CREATE LINK");
                                dataObject.MonHocChung.forEach((monhoc) => {
                                    if (name === monhoc.name) {
                                        console.log(monhoc.link);
                                        viewDocLink.href = monhoc.link;
                                        viewDocLink.target = "_blank";
                                    }
                                });

                                dataObject.CongNgheThongTin.forEach(
                                    (monhoc) => {
                                        console.log(monhoc.name);
                                        if (name === monhoc.name) {
                                            console.log(monhoc.link);
                                            viewDocLink.href = monhoc.link;
                                            viewDocLink.target = "_blank";
                                        }
                                    }
                                );

                                var update = document.querySelector(
                                    ".view-available-document > span"
                                );

                                var list = document.querySelector(
                                    ".view-available-document .list"
                                );

                                if (viewDocLink.target == "") {
                                    update.innerHTML = "Hiện chưa có tài liệu";
                                    list.style.visibility = "hidden";
                                } else {
                                    update.innerHTML = "Tài liệu tổng hợp được";
                                    list.style.visibility = "visible";
                                }
                            },
                        });
                    });
                });

                var viewCloseBtn = document.querySelector(".view-close-btn");

                viewCloseBtn.addEventListener("click", function () {
                    viewDoc.setAttribute("class", "view-doc");
                });
            }
            /*]]>*/
        </script>
    </body>
</html>
